{{extend 'layout.html'}}



<html>
   <h2>Welcome to Thingder!</h2>
    <br>
    <h3>Item posts</h3>
    <form action="showByCategory" method="post">
        <select name='filter1'>
            <option>Category</option>
            <option>Car</option>
            <option>Misc.</option>
            <input type="submit" value="filter">
        </select>
    </form>
    <!--
    <table class="table">
        {{for row in rows:}}
        <tr>
            <td><a href="{{=URL('show',args=row.id)}}">{{=row.title}}</a></td>
            <td>{{=row.created_by.first_name}}</td>
            <td>{{=row.created_on}}</td>
            <td>{{=row.interests}}</td>
            <td>{{=row.offers}}</td>
            <td><img width="100px"
     src="{{=URL('download', args=row.image)}}" /></td>
        </tr>
        {{pass}}
    </table>
    -->
    <div class="container-fluid">
        <div class="row">
        {{for row in rows:}}
                <div class="col-md-3">
                    <div id="card">
                        <a href="{{URL('show', args=row.id)}}">{{=row.title}}</a>
                        <p>Created by: {{=row.created_by.first_name}}</p>
                        <p>Created on: {{=row.created_on}}</p>
                        <p>Interested in: {{=row.interests}}</p>
                        <p>Offering: {{row.offers}}</p>
                        <img vertical-align="" width="100%" height="260px" src="{{=URL('download', args=row.image)}}"/>
                    </div>
                </div>
        {{pass}}
        </div>
    </div>
</html>
