{{extend 'layout.html'}}

<html>
   <h2>Welcome to Thingder!</h2>
    <br>
    <h3>Item posts</h3>
    <form action="showByCategory" method="post">
        <select name='filter1'>
            <option>Category</option>
            <option>Car</option>
            <option>Misc.</option>
            <input type="submit" value="filter">
        </select>
    </form>
    <div class="container-fluid">
        <div class="row">
        {{for row in rows:}}
                <div class="col-md-3">
                    <div id="card">
                        <h3><a href="{{=URL('show',args=row.id)}}">{{=row.title}}</a></h3>
                        <p>Created by: <a href="{{=URL('show_profile',args=row.created_by.id)}}">{{=row.created_by.first_name}}</a></p>
                        <p>Created on: {{=row.created_on}}</p>
                        <p>Interested in: {{=row.interests}}</p>
                        <p>Offering: {{=row.offers}}</p>
                        {{if row.image:}}
            <img vertical-align="" width="190px" src="{{=URL('download', args=row.image)}}"/>
        {{pass}}
                    </div>
                </div>
        {{pass}}
        </div>
    </div>
</html>
