{{extend 'layout.html'}}
<h1>
    Your Item
</h1>
<br>

<ul>
    <li>Title:{{=curr_item.title}}</li>
    <li>Interests:{{=curr_item.interests}}</li>
    <li>Offers: {{=curr_item.offers}}</li>
    <li><img height="225" width="225" src="{{=URL('download', args=curr_item.image)}}"/></li>
    </ul>
<br>
<h1>
    Trade Match
</h1>

<div class="card-container">
        {{for row in rows:}}
        <div class="card">
            <div class="front">
                <a href="{{=URL('show',args=row.id)}}"><img height="225" width="225" src="{{=URL('download', args=row.image)}}"/></a>
             </div>
        </div>
      {{pass}}
 </div>
