{{extend 'layout.html'}}
<h1>Send and receive messages</h1>
{{=form3}}
<table class="table"><h3>
    My Messages
    </h3>
        {{for row in rows:}}
        <tr>
            <td>From: {{=row.created_by.first_name}}</td>
            <td>{{=row.created_on}}</td>
            <td>{{=row.body}}</td>
            
            
        </tr>
        {{pass}}
    </table>

{{if request.function == 'index' or request.function == 'messaging':}}
<script>
  $(function() {
    var availableTags = [
        {{recepients = db(db.auth_user).select()}}
        {{l=[]}}
    {{for user in recepients:}}
    {{l.append(user.first_name)}}
  {{pass}}
      {{ for x in range(0,len(l)):}}
        {{if x == (len(l)-1):}} 
            "{{=l[x]}}"
    {{else:}} "{{=l[x]}}",
{{pass}}
    {{pass}}
    ];
    $( "#messages_recepient" ).autocomplete({
      source: availableTags
    });
    $( "#search" ).autocomplete({
      source: availableTags
    });
  });
  </script>
{{pass}}
