{{extend 'layout.html'}}
<h1>{{=fname}} {{=lname}}</h1>
<form enctype="multipart/form-data" action="{{=URL('profile')}}">
    <input type="submit" value="edit your profile here!"/> 
</form>
<h1></h1>
<h1></h1>
{{for info in infos:}}
        <tr>
            <td><img width="200px"
     src="{{=URL('download', args=info.image)}}" /></td>
        </tr>
            <h3></h3>
            <td>Age: {{=info.age}}</td>
            <h3></h3>
            <td>Zip Code: {{=info.zip_code}}</td>
            <h3></h3>
            <td>About {{=fname}}: {{=info.about_me}}</td>
            <h3></h3>
            
        {{pass}}

<h1></h1>
<h1></h1>
<h3>Recent Posts</h3>
 <table class="table">
        {{for row in rows:}}
        <tr id={{=row.id}}>
            <td><a href="{{=URL('show',args=row.id)}}">{{=row.title}}</a></td>
            <td>{{=row.created_on}}</td>
            <td>{{=row.interests}}</td>
            <td>{{=row.offers}}</td>
            {{if row.image:}}
            <td><img width="100px"
     src="{{=URL('download', args=row.image)}}" /></td>
            {{pass}}
             <td><button post_id="{{=row.id}}" class="btn btn-danger delete_post">Delete Post</button></td>
         </tr>
        {{pass}}
     </table>

<script>
    $(document).ready(function() {
        $("button").click(function() {
            row = $(this);
            val = $(this).attr("post_id");
            $.ajax({
                method: "POST",
                url:'{{=URL('../delete_post')}}',
                data: {'post_id': val},
                success: function(data){
                    row.closest("tr").remove();
                    }
                });
            });
        });           
    /* Javascript for search bar auto complete */
    $(function() {
    var availableTags = [
    {{recepients = db(db.auth_user).select()}}
        {{l=[]}}
    {{for user in recepients:}}
    {{l.append(user.first_name)}}
    {{pass}}
      {{ for x in l:}}
        {{if x == l[len(l)-1]:}} 
            "{{=x}}"
    {{else:}} "{{=x}}",
{{pass}}
    {{pass}}
    ];
    $( "#search" ).autocomplete({
      source: availableTags
      
    });
  });
</script>
