{{extend 'layout.html'}}
<h1>{{=thing.first_name}} {{=thing.last_name}}</h1>
<h3></h3>
<h3></h3>
{{for info in infos:}}
        <tr>
            <td><img width="200px"
     src="{{=URL('download', args=info.image)}}" /></td>
        </tr>
            <h3></h3>
            <td>Age: {{=info.age}}</td>
            <h3></h3>
            <td>Zip Code: {{=info.zip_code}}</td>
            <h3></h3>
            <td>About {{=thing.first_name}}: {{=info.about_me}}</td>
            <h3></h3>
            
        {{pass}}

<h3>Recent Posts</h3>
 <table class="table">
        {{for row in rows:}}
        <tr>
            <td><a href="{{=URL('show',args=row.id)}}">{{=row.title}}</a></td>
            <td>{{=row.created_on}}</td>
            <td>{{=row.interests}}</td>
            <td>{{=row.offers}}</td>

            {{if row.image:}}
            <td><img width="100px"
     src="{{=URL('download', args=row.image)}}" /></td>
        </tr>
        {{pass}}
        {{pass}}
     </table>
<script>
    /* Javascript for search bar auto complete */
    $(function() {
    var availableTags = [
    {{recepients = db(db.auth_user).select()}}
        {{l=[]}}
    {{for user in recepients:}}
    {{l.append(user.first_name)}}
    {{pass}}
      {{ for x in l:}}
        {{if x == l[len(l)-1]:}} 
            "{{=x}}"
    {{else:}} "{{=x}}",
{{pass}}
    {{pass}}
    ];
    $( "#search" ).autocomplete({
      source: availableTags
      
    });
  });
</script>
