{{extend 'layout.html'}}
<!--<h1>Sory by category</h1>
{{=var1}}
<table class="table">
        {{for row in rows:}}
        <tr>
            <td><a href="{{=URL('show',args=row.id)}}">{{=row.title}}</a></td>
            <td>{{=row.created_by.first_name}}</td>
            <td>{{=row.created_on}}</td>
            <td>{{=row.interests}}</td>
            <td>{{=row.offers}}</td>
            <td><img width="100px"
     src="{{=URL('download', args=row.image)}}" /></td>
        </tr>
        {{pass}}
    </table>
-->
<h2>Sorted by category: {{=var1}}</h2>
<div class="container-fluid">
        <div class="row">
        {{for row in rows:}}
                <div class="col-md-3">
                    <div id="card">
                        <a href="{{=URL('show',args=row.id)}}">{{=row.title}}</a>
                        <p>Created by: <a href="{{=URL('show_profile',args=row.created_by.id)}}">{{=row.created_by.first_name}}</a></p>
                        <p>Created on: {{=row.created_on}}</p>
                        <p>Interested in: {{=row.interests}}</p>
                        <p>Offering: {{row.offers}}</p>
                        <img vertical-align="" width="100%" height="260px" src="{{=URL('download', args=row.image)}}"/>
                    </div>
                </div>
        {{pass}}
        </div>
    </div>
