{{extend 'layout.html'}}
<!--<h1>Sory by category</h1>
{{=var1}}
<table class="table">
        {{for row in rows:}}
        <tr>
            <td><a href="{{=URL('show',args=row.id)}}">{{=row.title}}</a></td>
            <td>{{=row.created_by.first_name}}</td>
            <td>{{=row.created_on}}</td>
            <td>{{=row.interests}}</td>
            <td>{{=row.offers}}</td>
            <td><img width="100px"
     src="{{=URL('download', args=row.image)}}" /></td>
        </tr>
        {{pass}}
    </table>
-->
<h2>Sorted by category: {{=var1}} <br> Page: {{=page+1}}</h2>
<table class='table'>

{{for i,row in enumerate(l):}}
{{if i==items_per_page: break}}
<div class="col-md-3"><td>
                    <div id="card">
                        <h3><a href="{{=URL('show',args=row.id)}}">{{=row.title}}</a></h3>
                        <p>Created by: <a href="{{=URL('show_profile',args=row.created_by.id)}}">{{=row.created_by.first_name}}</a></p>
                        <p>Created on: {{=row.created_on}}</p>
                        <p>Interested in: {{=row.interests}}</p>
                        <p>Offering: {{=row.offers}}</p>
                        {{if row.image:}}
                        <img vertical-align="" width="190px" src="{{=URL('download', args=row.image)}}"/>
                        <h4><a href="{{=URL('test_map',args=row.locations)}}">Show on map</a></h4>
                        {{pass}}
                    </div>
        </div><br /></td>
    
{{pass}}
    </table>
{{if page:}}
<a href="{{=URL(args=[page-1,var1])}}">previous</a>
{{pass}}

{{if len(l)>items_per_page:}}
<a style="float: right" href="{{=URL(args=[page+1,var1])}}">next</a>
{{pass}}
<script>
    /* Javascript for search bar auto complete */
    $(function() {
    var availableTags = [
    {{recepients = db(db.auth_user).select()}}
        {{l=[]}}
    {{for user in recepients:}}
    {{l.append(user.first_name)}}
    {{pass}}
      {{ for x in l:}}
        {{if x == l[len(l)-1]:}} 
            "{{=x}}"
    {{else:}} "{{=x}}",
{{pass}}
    {{pass}}
    ];
    $( "#search" ).autocomplete({
      source: availableTags
      
    });
  });
</script>
