body {
  background: rgb(116,175,173);
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

a {
  color: currentColor;
  text-decoration: none;
}
td {
    padding-right:25px;
}
p {
  font-size: 13px;
}

a:hover .card-outmore {
  background: #2C3E50;
  color: #fff;
}

a:hover .thecard {
  box-shadow: 0 10px 50px rgba(0,0,0,.6);
}

.thecard {
  width: 300px;
  margin: 5% auto;
  box-shadow: 0 1px 30px rgba(0,0,0,.4);
  display: block;
  background-color: #fff;
  border-radius: 4px;
  transition: 400ms ease;
}

.card-img {
  height: 225px;
}

.card-img img {
  width:100%;
  border-radius: 4px 4px 0px 0px;
}

.card-caption {
  position: relative;
  background: #ffffff;
  padding: 15px 25px 5px 25px;
  border-radius: 0px 0px 4px 4px;
}

span.date {
  font-size: 10px;
}

h1 {
  font-size: 22px;
}

h5 {
  margin:0;
}
