body {
    background-color: #f67709;
}



.nav {
    background-color: #111111;
    border: #111111 3px solid;
    border-radius: 5px;
}

.navbar {
    background-color: #222222;
    
}

.navbar li:hover {
    opacity: 1;
    transform: scale(1.1);
    
}

.footer {
    background-color: #222222;
}

.card {
    background: #343434;
    border: solid 1px black;
    width: 225px;
    height: 225p;
    display: inline-block;
    margin: 0px 11px 0px 10px;
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
    box-shadow: 0px 6px 4px rgba(0,0,0,0.2)
}

div.card img {
    display: block;
    margin: 0 auto;
    padding: 5px;
    max-height: 200px;
    max-width: 200px;
    height: ;
    width: ;
}

img {
    max-height: 200px;
    max-width: 200px;
}

.card:hover {
    opacity: 1;
    transform: scale(1.1);
